
body{
    font-style: none; font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    } /* üst menü oluşturdum*/
    .ustmenu{ 
        margin: 0px;
        padding: 0px;
        text-align: right;
    }
    .ustmenu li{
        display:inline-block;
        list-style-type: none;
        font-size: 14;
    }
    .ustmenu li a {
        color: darkgrey;
        display: block; padding: 20px 5px;
        text-decoration:black;
        margin: 0px;
        color:darkgrey;text-decoration:none;padding-bottom:5px
    }
    .ustmenu li a:hover{
        border-bottom:2px solid #70757a;color:#000
    }

/* burda Uygulama simgeleri  işlemi*/
    .ustmenu>li>div{
        position:absolute;
        display:block;
        width:80%;
        top:60px;
        right:0;
        opacity:0;
        -webkit-transition:all .1s;
        transition:all 100ms;
        box-shadow: 0 2px 6px rgba(211,211,211,1);
        -webkit-box-shadow: 0 2px 6px rgba(211,211,211,1);
        background-color: whitesmoke;
        border-radius: 10px;
    }
    .ustmenu>li:hover>div{
        opacity:1;
    
    }
    .ustmenu .sutun{
        float:left;
        width:30%;
        padding:1px;
    } 
    .ustmenu .sutun li a{display:block;color:#ccc}
    .ustmenu .sutun li a:hover{color:rgb(10, 10, 10)}
    
/*burda bitti*/
/*alt menü*/
    .altmenu li{
        display:inline-block;
        text-align: center;
        padding: 1px
    }
    .altmenu li a{color:#70757a;text-decoration:none;padding: bottom 5px;}
=======
body{
    font-style: none; font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    } /* üst menü oluşturdum*/
    .ustmenu{ 
        margin: 0px;
        padding: 0px;
        text-align: right;
    }
    .ustmenu li{
        display:inline-block;
        list-style-type: none;
        font-size: 14;
    }
    .ustmenu li a {
        color: darkgrey;
        display: block; padding: 20px 5px;
        text-decoration:black;
        margin: 0px;
        color:darkgrey;text-decoration:none;padding-bottom:5px
    }
    .ustmenu li a:hover{
        border-bottom:2px solid #70757a;color:#000
    }

/* burda Uygulama simgeleri  işlemi*/
    .ustmenu>li>div{
        position:absolute;
        display:block;
        width:80%;
        top:60px;
        right:0;
        opacity:0;
        -webkit-transition:all .1s;
        transition:all 100ms;
        box-shadow: 0 2px 6px rgba(211,211,211,1);
        -webkit-box-shadow: 0 2px 6px rgba(211,211,211,1);
        background-color: whitesmoke;
        border-radius: 10px;
    }
    .ustmenu>li:hover>div{
        opacity:1;
    
    }
    .ustmenu .sutun{
        float:left;
        width:30%;
        padding:1px;
    } 
    .ustmenu .sutun li a{display:block;color:#ccc}
    .ustmenu .sutun li a:hover{color:rgb(10, 10, 10)}
    
/*burda bitti*/
/*alt menü*/
    .altmenu li{
        display:inline-block;
        text-align: center;
        padding: 1px
    }
    .altmenu li a{color:#70757a;text-decoration:none;padding: bottom 5px;}
    .altmenu li a:hover{border-bottom:2px solid #70757a;color:#000}